img{
    height: 10rem;
    width: 20rem;
}
body{
    background-color: #e6e6e6;
    
}
h1{
    
    background-color:#a9a395 ;
    text-align: center;
    color: #e6e6e6;
}
h2{
    font-weight: normal;
}
